{% extends 'registration/base.html' %}
{% block body %}
<h1>Login</h1>
<p>Who are you, {{user}}?</p>

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
{% if user.is_authenticated %}
<p>Your account doesn't have access to this page. To proceed,
please login with an account that has access.</p>
{% else %}
<p>Please login to see this page.</p>
{% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
	{% csrf_token %}
	{{ form.as_p }}
	<div id='field_highlight_container'>
		<label for="id_mandatory_field">If you can read this, please ignore this box or I will ignore you:</label>
		<input type="text" name="mandatory_field" maxlength="254" id="id_mandatory_field">
	</div>
	<input type='submit' value='RSVP!'>
</form>
<p><a href="{% url 'password_reset' %}">Lost password?</a></p>
{% endblock %}
