{% extends 'registration/base.html' %}
{% block body %}
<h1>Login</h1>
<p>Who are you, {{user}}?</p>

{#<form action='{% url 'form:submit'%}' method='POST'>#}
	<form action='/login' method='POST'>
	{% csrf_token %}
	{{ form }}
	<div id='field_highlight_container'>
	<label for="id_mandatory_field">If you can read this, please ignore this box or I will ignore you:</label>
	<input type="text" name="mandatory_field" maxlength="254" id="id_mandatory_field">
	</div>
	<input type='submit' value='RSVP!'>
	</form>

{% endblock %}
