{% extends 'bluffgameserver/base.html' %}
{% block body %}
<h1>Game {{ game.id }} - {{ game.name }}</h1>
<p>This game was created by {{ game.creator }}.</p>
<p>{{ active_players }}/{{ game.max_players }} players have joined.</p>
{% if already_joined %}
<p>You've joined! Sit back and wait for the start.</p>
{% elif active_players < game.max_players %}
<p>You can join by <a href='{% url 'join_game' game.id %}'>clicking here</a>.</p>
{% else %}
<p>Sorry, this game is full.</p>
{% endif %}
{% endblock %}
